@import url('https://fonts.googleapis.com/css2?family=Rubik+Maps&display=swap');

.cardcover{
    margin-Right: 30px;
    transition: transform .3s;
}

.cardcover:hover{
    transform: scale(1.07);
    transition: transform .3s;
    opacity: 0.67;
}


.categoryText{
    font-family: "Rubik Maps";
}
a{
    text-decoration: none !important;
}