.navs{
    font-weight: bold;
}


.hov:hover{
    color: #947054 !important;
    text-decoration: underline ;
    text-underline-offset: 15px ;
}

/* .active{
    color: #947054 !important;
    text-decoration: underline !important;
    text-underline-offset: 15px !important;
} */

.navbar-nav .nav-link.active{
    color: #947054 !important;
    text-decoration: underline !important;
    text-underline-offset: 15px !important;
}

.left{
    margin-left: 490px;
}

.right{
    margin-right: 10px;
}

@media only screen and (max-width: 600px) {
    .dropdown-menu {width: 100px; margin-left: 0px;}
}

